
@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
}